<!DOCTYPE html>
<html>
<head>
  <title><%= @album["title"] %></title>
  <style>
    body {
      font-family: "Avenir";
      margin: 4% 15%;
    }
    .main {
      display: grid;
      grid-template-columns: 48% 4% 48%;
    }
    .link {
      transition: 0.2s ease;
      margin: 0px;
      color: #808080;
      text-decoration: none;
    }
    .link:hover {
      transition: 0.2s ease;
      color: black;
      text-decoration: underline;
    }
    .image {
      width: 100%;
    }
    .title {
      margin-top: 0px;
    }
    .text {
      text-align: justify;
    }
  </style>
</head>
<body>
  <a href="/" class="link"><h1><%= "<- HOME" %></h1></a>
  <div class="main">
    <div>
      <img src="<%= @album["cover"] %>" class="image">
    </div>
    <div></div>
    <div>
      <h1 class="title"><%= @album["title"].upcase %></h1>
      <audio controls>
        <source src="<%= @album["song"] %>" type="audio/mpeg">
      </audio>
      <p>
        My first "official" album.
      </p>
    </div>
  </div>
</body>
</html>
