<!DOCTYPE html>
<html>
  <head>
    <title><%= @album["title"] %></title>
    <link rel="stylesheet" type="text/css" href="/css/albums">
  </head>
  <body>
    <div>
      <a href="/" class="home-link"><h1 style="margin: 0px;"><%= "<- HOME" %></h1></a>
      <br/><br/><br/>
    </div>

    <div class="main">
      <div>
        <img src="<%= @album["cover"] %>" width=100%;>
      </div>
      <br/>
      <div>
        <iframe style="border: 0; width: 100%; height: 50%;" src="https://bandcamp.com/EmbeddedPlayer/album=<%= @album["bandcamp"] %>/size=large/bgcol=ffffff/linkcol=333333/artwork=none/transparent=true/" seamless></iframe>
        <br/><br/>
        <h1 class="title"><%= @album["title"].upcase %></h1>
        <p><%= @album["description"] %></p>
        <p><%= @album["date"] %></p>
      </div>
    </div>
  </body>
</html>
