<!DOCTYPE html>
<html>
  <head>
    <title><%= "" %></title>
    <link rel="stylesheet" type="text/css" href="/css/albums">
  </head>
  <body>
    <div>
      <a href="/" class="home-link"><h1 style="margin: 0px;"><%= "<- HOME" %></h1></a>
      <br/><br/><br/>
    </div>

    <div class="main">
      <div>
        <img src="<%= @image["link"] %>" width=100%;>
      </div>
      <br/>
      <div>
        <h1 style="margin: 0px;"><%= @image["name"].upcase %></h1>
        <p><%= @image["desc"] %></p>
      </div>
    </div>
  </body>
</html>
