<!DOCTYPE html>
<html>
  <head>
    <title><%= @info["title"] %></title>
    <link rel="stylesheet" type="text/css" href="/css/index">
  </head>
  <body>
    <div class="main">
      <h1 class="title">ART</h1>
      <br/>
      <div class="images">
        <div>
          <%= @list[0] %>
          <%= @list[5] %>
        </div>
        <br/>
        <div>
          <%= @list[3] %>
          <%= @list[1] %>
        </div>
        <br/>
        <div>
          <%= @list[2] %>
          <%= @list[4] %>
        </div>
      </div>
      <br/>
      <h1 class="title">MUSIC</h1>
      <br/>
      <div class="images">
        <a href="/music/<%= @albums.keys[0] %>">
          <img src="<%= @albums[@albums.keys[0]]["cover"] %>" class="image">
        </a>
        <div></div>
        <a href="/music/<%= @albums.keys[1] %>">
          <img src="<%= @albums[@albums.keys[1]]["cover"] %>" class="image">
        </a>
      </div>
    </div>

    <div class="sidebar">
      <div></div>
      <div>
        <h1 class="name"><%= @info["name"] %></h1>
        <p class="email"><%= @info["email"] %></p>
        <a class="link right" href="<%= @info["link-one"]["link"] %>">
          <%= @info["link-one"]["name"] %>
        </a>
        <p style="display:inline; float: right; margin: 0px;">&nbsp;</p>
        <a class="link right" href="<%= @info["link-two"]["link"] %>">
          <%= @info["link-two"]["name"] %>
        </a>
        <br/><br/>
        <p class="text">
          <%= @info["text"] %>
        </p>
      </div>
    </div>
  </body>
</html>
